<%- include('layout/header') %>
<div class="container-fluid bg-secondary">
    <div class="container">
        <p>      <img src="/images/logo.svg" width="350px" height="350px"/>
        </p>
    </div>
</div>
<%- include('layout/footer') %>

