<%- include('layout/header') %>
    <div class="container-fluid bg-accueil py-5">
        <div class="container">
            <div class="p-5 mb-4 rounded-3 bg-accueil2">
                <h1 class="display-5 fw-bold">Collège - Lycée ISAAC ASIMOV</h1>
                <p class="col-md-8 fs-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum quae sint,
                    laborum repellat, voluptates provident sit voluptatibus eaque molestiae, commodi praesentium
                    deleniti quaerat corrupti debitis facere distinctio velit modi rem.</p>
            </div>
        </div>
    </div>

    <section class="my-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="alert alert-primary text-center ">
                        Ouvert de lundi à vendredi de 7h30 à 18h00
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-1 mt-3">
                    <ul class="list-group">
                        <li class="list-group-item pt-4">
                            <h5>Évènement <span class="badge bg-primary">Nouveau</span></h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid laudantium culpa
                                cum nihil sunt velit architecto nobis cumque. Voluptas eos esse culpa aliquam sequi
                                corporis ex dolore expedita accusantium!<br /><span class="text-secondary">Vendredi 10
                                    avril</span>
                            </p>
                        </li>
                        <li class="list-group-item pt-4">
                            <h5>Évènement</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid laudantium culpa
                                cum nihil sunt velit architecto nobis cumque. Voluptas eos esse culpa aliquam sequi
                                corporis ex dolore expedita accusantium!<br /><span class="text-secondary">Vendredi 10
                                    avril</span>
                            </p>
                        </li>
                        <li class="list-group-item pt-4">
                            <h5>Évènement</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid laudantium culpa
                                cum nihil sunt velit architecto nobis cumque. Voluptas eos esse culpa aliquam sequi
                                corporis ex dolore expedita accusantium!<br /><span class="text-secondary">Vendredi 10
                                    avril</span>
                            </p>
                        </li>
                        <li class="list-group-item pt-4">
                            <h5>Évènement</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid laudantium culpa
                                cum nihil sunt velit architecto nobis cumque. Voluptas eos esse culpa aliquam sequi
                                corporis ex dolore expedita accusantium!<br /><span class="text-secondary">Vendredi 10
                                    avril</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="card mb-5">
                        <div class="card-header">
                            Information
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Notre logiciel <span class="badge bg-primary">Nouveau</span></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fuga, earum nemo optio quo voluptas quaerat harum dolores neque ducimus maiores dicta ex mollitia autem accusamus. At laborum quas asperiores?</p>
                            <a href="/assets/ASIMOV.zip" class="btn btn-primary">TÉLÉCHARGER</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <%- include('layout/footer') %>