<%- include('layout/header') %>
    <div class="container-fluid bg-secondary">

        <div class="container mt-3">
            <div class="row">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum accusamus ullam voluptate
                    incidunt
                    veritatis, voluptates explicabo. Corrupti in consequuntur molestiae nihil! Velit impedit
                    incidunt
                    expedita est cumque praesentium ex ut.</p>
            </div>
        </div>

    </div>
    <%- include('layout/footer') %>