<%- include('layout/header') %>
    <div class="container-fluid bg-accueil">
        <div class="container mt-3">
            <div class="row p-5">
                <p class="text-center display-1">ISAAS ASIMOV</p>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat molestias nesciunt veniam reprehenderit iste, repellendus quaerat facilis nostrum. Dolore, natus exercitationem! Vitae hic dolor voluptates ullam adipisci, nesciunt et.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-accueil2">
        <div class="container mt-3">
            <div class="row p-5">
                <p class="text-center display-1">ISAAS ASIMOV</p>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat molestias nesciunt veniam reprehenderit iste, repellendus quaerat facilis nostrum. Dolore, natus exercitationem! Vitae hic dolor voluptates ullam adipisci, nesciunt et.</p>
            </div>
        </div>
    </div>

    <%- include('layout/footer') %>