<%- include('layout/header') %>
    <div class="container-fluid bg-accueil py-5">
        <div class="container">
            <div class="p-5 mb-4 rounded-3 bg-accueil2">
                <h1 class="display-5 fw-bold">Collège - Lycée ISAAC ASIMOV</h1>
                <p class="col-md-8 fs-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum quae sint,
                    laborum repellat, voluptates provident sit voluptatibus eaque molestiae, commodi praesentium
                    deleniti quaerat corrupti debitis facere distinctio velit modi rem.</p>
            </div>
        </div>
    </div>

    <section class="my-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="alert alert-primary text-center ">
                        Open Everyday from 12pm &bull; Bookings Essential &bull; BYO Wine
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-1 mt-3">
                    <ul class="list-group">
                        <li class="list-group-item pt-4">
                            <h5>Crispy Fish Burger <span class="badge bg-primary">New</span></h5>
                            <p>Panko crumbed fish fillet, slaw &amp; our famous spicy sauce.<br /><span
                                    class="text-secondary">$10</span></p>
                        </li>
                        <li class="list-group-item pt-4">
                            <h5>Salt &amp; Pepper Calamari</h5>
                            <p>Fresh fried calamari, lightly seasoned with salt &amp; pepper.<br /><span
                                    class="text-secondary">$12</span></p>
                        </li>
                        <li class="list-group-item pt-4">
                            <h5>Fish of the Day</h5>
                            <p>Grilled fish of the day, garden salad &amp; served with chips.<br /><span
                                    class="text-secondary">$17</span></p>
                        </li>
                        <li class="list-group-item pt-4">
                            <h5>Garlic Prawn Skewer</h5>
                            <p>Tiger prawns coated marinated in garlic served on a skewer.<br /><span
                                    class="text-secondary">$19</span></p>
                        </li>
                        <li class="list-group-item pt-4">
                            <h5>Seafood Platter</h5>
                            <p>Single serve platter containing fish, prawns, oysters &amp; a glass of wine.<br /><span
                                    class="text-secondary">$25</span></p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="card mb-5">
                        <div class="card-header">
                            Book Online
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bookings are essential!</h5>
                            <p class="card-text">Don't miss out - book online to secure a table today.</p>
                            <a href="#" class="btn btn-primary">Check Availability</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <%- include('layout/footer') %>