/* genereal */

* {
  font-family: "Antonio";
}

.bg-secondary {
  background-color: #eaeaea !important;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.lien:hover,
.lien:focus {
  color: #212529 !important;
}

.box {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.card-header:hover {
  background-color: #76767644;
}

/* alert */
.alert {
  margin-bottom: 0 !important;
}

/* header */

.monheader {
  border-bottom: 1px solid #bababa;
  position: -webkit-sticky;
  position: sticky;
  z-index: 500;
  top: 0;
}

.header-toggler {
  padding-left: 0rem !important;
}

.sidebar-nav .nav-title {
  margin-top: 0.25rem;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--cui-sidebar-nav-title-color, rgba(255, 255, 255, 0.6));
}

/* footer */

footer {
  background: #212529;
}

.espacement-footer {
  height: 200px;
}

.logo-footer {
  filter: brightness(0) invert(1);
  height: 50px;
  padding-right: 50px;
  border-right: 1px solid white;
}

.logo-footer2 {
  height: 50px;
  padding-left: 50px;
}

/* select2 */

.select2 {
  width: 100% !important;
}

.select2-container--bootstrap-5 .select2-selection {
  height: 58px !important;
}

.select2-container--bootstrap-5
  .select2-selection--single
  .select2-selection__rendered {
  padding: 1rem 0rem;
}

.select2-container--bootstrap-5 .select2-dropdown {
  z-index: 499;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection,
.select2-container--bootstrap-5
  .select2-dropdown
  .select2-search
  .select2-search__field:focus {
  color: #212529;
  background-color: #fff;
  border-color: #9ea5b2;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgb(60 75 100 / 25%);
  box-shadow: 0 0 0 0.25rem rgb(60 75 100 / 25%);
}

.select2-container--bootstrap-5
  .select2-dropdown
  .select2-results__options
  .select2-results__option.select2-results__option--selected,
.select2-container--bootstrap-5
  .select2-dropdown
  .select2-results__options
  .select2-results__option[aria-selected="true"] {
  color: #fff;
  background-color: #3c4b64;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
  border-color: #3c4b64;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

.select2-container--bootstrap-5 .select2-dropdown.select2-dropdown--below {
  border-top: none !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #3c4b64;
}

.select2-container--bootstrap-5 .select2-dropdown {
  z-index: 499;
  border-color: #3c4b64;
  border-radius: 0.25rem;
}

/* datepicker */

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: #3c4b64;
  color: #fff;
  font-weight: 600;
}

/* datatable */

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length label,
  div.dataTables_wrapper div.dataTables_filter label,
  div.dataTables_wrapper div.dataTables_info label,
  div.dataTables_wrapper div.dataTables_paginate label {
    text-align: left;
    margin-top: 20px;
  }
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label,
div.dataTables_wrapper div.dataTables_info label,
div.dataTables_wrapper div.dataTables_paginate label {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}

#d#dataTable_info {
  margin-top: 3px;
}

#dataTable_paginate,
#dataTable_info {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  li.paginate_button.previous {
    display: inline;
  }
  li.paginate_button.next {
    display: inline;
  }
  li.paginate_button {
    display: none;
  }
  .dtsp-titleRow {
    text-align: left;
    min-width: 100%;
    float: left;
  }
  .dtsp-showAll,
  .dtsp-collapseAll,
  .dtsp-clearAll {
    clear: both;
    margin-top: 10px;
    text-align: left;
    width: 100%;
  }
}

div.dtsp-topRow.dtsp-bordered {
  border: none;
  border-radius: 3px;
}

div.dtsp-topRow.dtsp-bordered:hover {
  background-color: unset;
  opacity: 1;
  border: none;
  border-radius: 3px;
  cursor: pointer !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0;
  display: inline-block;
  width: auto;
}

div.dtsp-panesContainer div.dataTables_wrapper div.dataTables_scrollBody {
  width: 100% !important;
  color: white;
  background-color: #3c4b64;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length label,
  div.dataTables_wrapper div.dataTables_filter label {
    float: left;
  }
}

.dtsp-nameColumn:hover {
  background-color: #a0a0a0 !important;
}

div.dtsp-nameCont span.badge {
  background-color: #3c4b64 !important;
  color: #9ea5b2;
}

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #bababa !important;
  color: white;
}

/* table */

table {
  background-color: white;
}

th {
  color: var(--cui-sidebar-nav-link-color, rgba(255, 255, 255, 0.6)) !important;
  font-weight: unset !important;
}

td {
  vertical-align: middle;
  color: black !important;
}

th:hover {
  color: white !important;
}

tbody tr:hover {
  background-color: #e3e5e9;
}

.action_table {
  height: 40px;
  width: 40px;
}

.action_table i {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* forms */

.required:after {
  content: " *";
  color: red;
}

.lien-t:hover {
  color: white !important;
  background-color: #3c4b64;
}

/* chartjw */
.monchart {
  width: auto;
  height: auto;
}

/* accueil */
.bg-accueil {
  background: url("/images/college.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 80px;
}

/* accueil */
.bg-accueil2 {
    background-color: rgba(33, 37, 41, 0.7); /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    color: white }